@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,600;0,800;1,400&display=swap');

$font_body: 'Jost', sans-serif;
$font_h1: $font_body;
$font_h2: $font_body;
$font_h3: $font_body;
$font_h4: $font_body;
$font_h5: $font_body;
$font_h6: $font_body;
