// Sub theme styling.
@import 'variables_drupal';

// Bootstrap overriden variables.
// @see https://getbootstrap.com/docs/5.2/customize/sass/#variable-defaults.
@import 'variables_bootstrap';

// Include bootstrap.
@import '../../bootstrap5/scss/style';

@import 'colors';
@import 'typography';
@import 'mixins';

body {
  font-family: $font_body;
}

//////////////////////////////
// START board editing page //
//////////////////////////////
#node-board-edit-form {
#edit-body-wrapper,
#edit-path-wrapper,
  .form-type-vertical-tabs {
    display: none;
  }

  // weirdly, the first header on the collapsible icon reference list
  // doesn't show up if we don't do this.
  .invalid-feedback {
    display: block;
  }

}
// The icon IEF disappears on /node/add/board for some reason, unless we do this:
#edit-field-icon-wrapper {

}

#edit-field-icon {
  > legend {
    display: none;
  }

  > summary {
    display: block;
  }

  .fieldset-wrapper {
    margin: 0;
    padding: 0;
  }
}


// cleaning up the inline entity form editor
// hide the drag handle.
.field-multiple-drag {
  display: none;
}


// fix cut off handles.
a.tabledrag-handle .handle {
  height: 24px;
}

// hide the default ief form
#edit-field-icon-wrapper .tabledrag-toggle-weight-wrapper,
#edit-field-icon-wrapper thead,
.ief-form-bottom legend,
tr.ief-row-entity td {
  // display: none;
}

tr.ief-row-entity td {
  &[colspan="2"],
  &[colspan="3"],
  &[colspan="4"],
  &[colspan="5"],
  &[colspan="6"],
  &[colspan="7"] {
    display: block;
  }
}

// hide admin-only fields anyway.
.field--name-field-attribution .filter-wrapper, //text format selector
.field--name-uid, // author name
.field--name-created, // publishing date
.field--name-promote, // promote to front page
.field--name-sticky, // sticky at top of lists
.field--name-path { // URL/path
  display: none;
}
// End hiding default IEF form.


// the original column of inline entity field items
#field-icon-values {
  .draggable {
    &.highlighted {
      background-color: beige;
    }
  }
}

// The draggable grid we replaced the list of IEF icon references with:
// todo: reinitialize when resizing to always have the same number of columns.
#draggable-grid {
  // overflow: hidden;
  // margin: 10px auto;
  // width: 500px;
  border: 1px solid #ccc;
  width: 100%;
  position: relative;
}

.draggable-icon {
  @include icon_tile();
  // position: relative;
  cursor: grab;
  user-select: none;

  width: 150px;
  height: 150px;

  &:dragging {
    cursor: grabbing;
  }

  .edit {
    background-color: black;
    color: white;
    padding: 5px;
    opacity: 0;

    position: absolute;
    z-index: 100;
    right: 0;
    top: 0;
  }

  &:focus,
  &:hover {
    .edit {
      opacity: 1;

    }
  }
}

// This is to fix a bunch of window resizing nonsense bugs;
// If we rely on Gridly's defaults, the window resizer can get the wrong height.
.gridly,
.gridly > :not(.dragging) {
  transition: none !important;
}
.gridly {
  height: 600px;
}

// .draggable-icon:active {
//   cursor: grabbing;
// }
//
// .drag-start {
//   opacity: 0.8;
// }
//
// .drag-enter {
//   opacity: 0.5;
//   transform: scale(0.9);
// }
////////////////////////////
// END board editing page //
////////////////////////////


// start board display page
#block-views-block-icons-on-this-board-block-1 {
  .view-content {
    display: block;
    width: 100%;
    background-size: 12.5% 25%;
    background-image:
      linear-gradient(to right, grey 1px, transparent 1px),
      linear-gradient(to bottom, grey 1px, transparent 1px);
  }
  .views-row {
    @include icon-tile();
    float: left;
    height: 12.5%;

    .views-field-title {
      display: none;
    }
  }
}

// end board display page


.tabs {
  @include link_no_underline($color_tab, $color_tab_hover);
}

#footer {
  padding-bottom: 100px;
}

///////////////////////////////
// Start list of icons (/icons)
///////////////////////////////
.view-icons {
  td.views-field-field-image {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-width: 150px;
    }
  }
}


//////////////////
// admin features
//////////////////

// /icon page
body.path-icons {
  .views-field-field-public, // hide the "Display in the public item list" column in the view.
  .form-item-field-public-value {   // hide the view filter for "Display in the public icon list"
    display: none;
  }
  &.admin {
    .views-field-field-public {
      display: table-cell;
    }
    .form-item-field-public-value {
      display: block;
    }
  }
}
