// Sub theme styling.
@import 'variables_drupal';

// Bootstrap overriden variables.
// @see https://getbootstrap.com/docs/5.2/customize/sass/#variable-defaults.
@import 'variables_bootstrap';

// Include bootstrap.
@import '../../bootstrap5/scss/style';

@import 'colors';
@import 'typography';
@import 'mixins';

body {
  font-family: $font_body;
}

// START header
header {
  border-bottom: 1px solid $color_grey;
  margin-bottom: 2em;
}

// Logo and site title
.navbar-brand {
  margin-left: 0.5rem; // copied from the main menu settings in the Bootstrap parent theme.
}

nav.navbar > .container {
  display: block;
}

// user menu (top right)
.region-nav-branding {
  width: 100%;
  display: flex;

  .navigation {
    flex-grow: 2;
    // text-align: right;
    .nav {
      float: right;
      font-size: 0.9em;
    }
  }
}

// Start Main menu
.region-nav-main {
  width: 100%;
}
// End main menu


// Global tab settings
.tabs {
  @include link_no_underline($color_tab, $color_tab_hover);
}

.nav-link .nav-link {
  border: 0;
  padding: 0;
}
// End global tab settings.

// Start footer
.region-footer {
  padding-bottom: 100px;
}
// End footer


//////////////////////////////
// START board editing page //
//////////////////////////////
#node-board-edit-form {
#edit-body-wrapper,
#edit-path-wrapper,
  .form-type-vertical-tabs {
    display: none;
  }

  // weirdly, the first header on the collapsible icon reference list
  // doesn't show up if we don't do this.
  .invalid-feedback {
    display: block;
  }

}
// The icon IEF disappears on /node/add/board for some reason, unless we do this:
#edit-field-icon-wrapper {

}

#edit-field-icon {
  > legend {
    display: none;
  }

  > summary {
    display: block;
  }

  .fieldset-wrapper {
    margin: 0;
    padding: 0;
  }
}


// cleaning up the inline entity form editor
// hide the drag handle.
.field-multiple-drag {
  display: none;
}


// fix cut off handles.
a.tabledrag-handle .handle {
  height: 24px;
}

// hide the default ief form
#edit-field-icon-wrapper .tabledrag-toggle-weight-wrapper,
#edit-field-icon-wrapper thead,
.ief-form-bottom legend,
tr.ief-row-entity td,
#edit-field-icon-wrapper .form-item-field-icon-actions-bundle // the content type select box
{
  display: none;
  border: 1px solid red;
}

tr.ief-row-entity td {
  &[colspan="2"],
  &[colspan="3"],
  &[colspan="4"],
  &[colspan="5"],
  &[colspan="6"],
  &[colspan="7"] {
    display: block;
  }
}

// hide admin-only fields anyway.
.field--name-field-attribution .filter-wrapper, //text format selector
.field--name-uid, // author name
.field--name-created, // publishing date
.field--name-promote, // promote to front page
.field--name-sticky, // sticky at top of lists
.field--name-path { // URL/path
  display: none;
}
// End hiding default IEF form.

// the original column of inline entity field items
#field-icon-values {
  .draggable {
    &.highlighted {
      background-color: beige;
    }
  }
}

// The draggable grid we replaced the list of IEF icon references with:
// todo: reinitialize when resizing to always have the same number of columns.
#draggable-grid {
  // overflow: hidden;
  // margin: 10px auto;
  // width: 500px;
  border: 1px solid #ccc;
  width: 100%;
  position: relative;
}

.draggable-icon {
  @include icon_tile();
  // position: relative;
  cursor: grab;
  user-select: none;

  width: 150px;
  height: 150px;

  &:dragging {
    cursor: grabbing;
  }

  .edit,
  .remove {
    background-color: black;
    color: white;
    padding: 5px;
    opacity: 0;

    position: absolute;
    z-index: 100;
    cursor: pointer;
  }

  .edit {
    right: 0;
    top: 0;
  }

  .remove {
    left: 0;
    top: 0;
  }

  img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
  }

  &:focus,
  &:hover {
    .edit,
    .remove {
      opacity: 1;
    }
  }
}

// This is to fix a bunch of window resizing nonsense bugs;
// If we rely on Gridly's defaults, the window resizer can get the wrong height.
.gridly,
.gridly > :not(.dragging) {
  transition: none !important;
}
.gridly {
  height: 600px;
}
// End grid on board edit page

// start slider on board edit page-edit
#edit-field-number-of-columns-wrapper {
  #edit-field-number-of-columns {
    display: none;
  }
}


////////////////////////////
// END board editing page //
////////////////////////////

///////////////////////////
// start board display page
///////////////////////////

// Start "Full screen view" button and positioning.
.page-node-type-board:not(.page-edit) {
  main .region-content {
    position: relative;
  }
}

#block-fullscreenboardbutton {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;

  // Hide the button in full screen mode,
  // but bring it back if we hover over the top right corner.
  // button,
  // .button,
  // .btn,
  // .btn-primary {
  //   top: -100px;
  // }
  //
  // &:hover {
  //   button,
  //   .button,
  //   .btn,
  //   .btn-primary {
  //     top: 0;
  //   }
  // }
}
// End "Full screen view" button & positioning.


// Start full screen mode
body.full-screen-preview {
  padding: 0 !important;
  margin: 0 !important;

  .container {
    width: 100%;
    max-width: 100%;
  }

  // Hide all the extraneous stuff when full page preview is on.
  #block-virtualplatform-page-title,
  header,
  footer,
  // div,
  nav,
  aside,
  .alert {
    display: none;
  }

  #block-views-block-icons-on-this-board-block-1 {
    display: block;
    max-width: 100vw;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
  }
}
// End full screen mode


// hide number of columns on board pages
// (we don't remove the field because we need it to calculate the board display using JavaScript)
.field--name-field-number-of-columns {
  display: none;

  .page-edit & {
    display: block;
  }
}

// Start icon grid on board view page (not edit!)
#block-views-block-icons-on-this-board-block-1 {
  .view-content {
    display: block;
    width: 100%;
    background-size: 12.5% 25%;
    background-image:
      linear-gradient(to right, grey 1px, transparent 1px),
      linear-gradient(to bottom, grey 1px, transparent 1px);
  }
  .views-row {
    @include icon-tile();

    display: flex;
    flex-direction: column;
    justify-content: center;
    // > div {
    //   flex: 1;
    // }

    // .views-field-field-image {
    //   flex-grow: 2;
    // }

    float: left;
    width: 12.5%;

    // &:after {
    //   padding-bottom: 100%;
    //   content: "";
    //   display: block;
    // }

    // Colour contrast for text on this icon.
    // .views-field-title,
    // .views-field-field-color,
    .views-field-field-text-above-icon,
    .views-field-field-text-below-icon {
      // color: white;
      // font: 900 35vmin/50vh arial;
      // text-align: center;
      // mix-blend-mode: difference;
      // filter: drop-shadow(0.05em 0.05em orange);
    }

    .views-field-title,
    .views-field-field-color {
      display: none;
    }
  }

  .views-field-field-image {
    // width: 50%;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: flex;
    * {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
  }
}
// end board display page

// Hide the better lookup block by default; we only want to show it.
#block-views-block-better-icon-lookup-block-1 {
  display: none;
}

.view-better-icon-lookup {
  width: 100%;
  float: left;

  .views-row {
    width: 100%;
    float: left;
  }

  .icon-and-text,
  .next-to-icon {
    float: left;
  }

  .icon-and-text {
    color: #555;
    background: #ddd;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
  }

  .views-field-nid {
    border: 1px solid red;
    display: none;
  }
}




///////////////////////////////
// Start list of icons (/icons)
///////////////////////////////
.view-icons {
  td.views-field-field-image {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;

    img {
      max-width: 100%;
    }
  }
}


// all forms
@media (min-width: 992px) {
  .node-form {
    margin-left: 0;
  }
}

// Right Sidebar
.region-sidebar-second {
  .block:first-child {
    h2 {
      margin-top: 0;
    }
  }
}
// End right sidebar


//////////////////
// admin features
//////////////////

// /icon page
body.path-icons {
  .views-field-field-public, // hide the "Display in the public item list" column in the view.
  .form-item-field-public-value {   // hide the view filter for "Display in the public icon list"
    display: none;
  }
  &.admin {
    .views-field-field-public {
      display: table-cell;
    }
    .form-item-field-public-value {
      display: block;
    }
  }
}
