// Sub theme styling.
@import 'variables_drupal';

// Bootstrap overriden variables.
// @see https://getbootstrap.com/docs/5.2/customize/sass/#variable-defaults.
@import 'variables_bootstrap';

// Include bootstrap.
@import '../../bootstrap5/scss/style';

@import 'colors';
@import 'typography';
@import 'mixins';

body {
  font-family: $font_body;
}

// START header
header {
  border-bottom: 1px solid $color_grey;
  margin-bottom: 2em;
}

// Logo and site title
.navbar-brand {
  margin-left: 0.5rem; // copied from the main menu settings in the Bootstrap parent theme.
}

nav.navbar > .container {
  display: block;
}

// user menu (top right)
.region-nav-branding {
  width: 100%;
  display: flex;

  .navigation {
    flex-grow: 2;
    // text-align: right;
    .nav {
      float: right;
      font-size: 0.9em;
    }
  }
}

// Start Main menu
.region-nav-main {
  width: 100%;
}
// End main menu
// End header
//////////////

////////////////////////
// Start content area //
////////////////////////
main {
  margin-bottom: 4em;
}

// Global tab settings
.tabs {
  @include link_no_underline($color_tab, $color_tab_hover);
}

.nav-link .nav-link {
  border: 0;
  padding: 0;
}
// End global tab settings.

//////////////////////
// End main content //
//////////////////////

//////////////////
// Start footer //
//////////////////
footer {
  border-top: 1px solid gray;
  margin-top: 2em;
  // padding-bottom: 100px;
}
// End footer


//////////////////////////////
// START board editing page //
//////////////////////////////
#node-board-edit-form {
#edit-body-wrapper,
#edit-path-wrapper,
  .form-type-vertical-tabs {
    display: none;
  }

  // weirdly, the first header on the collapsible icon reference list
  // doesn't show up if we don't do this.
  .invalid-feedback {
    display: block;
  }

}

// force CKeditor to be larger; by default, it's only one line high
.ck-rounded-corners .ck.ck-editor__top .ck-sticky-panel .ck-toolbar,
.ck.ck-editor__top .ck-sticky-panel .ck-toolbar.ck-rounded-corners {
  background-color: $color_grey_light;
}

.ck-content {
  min-height: 200px;
}

// for admin users only: the "no HTML tags allowed/lines break automatically/etc" help text under Plain Text textareas:
.filter-guidelines-plain_text .tips {
  padding-left: 1rem;
}


// end CKEditor changes

// Add padding to "Add new icon" and "Add existing icon" when there aren't any.
#edit-field-icon-actions {
  padding: 10px;
}

// The icon IEF disappears on /node/add/board for some reason, unless we do this:
#edit-field-icon-wrapper {

}

#edit-field-icon {
  > legend {
    display: none;
  }

  > summary {
    display: block;
  }

  .fieldset-wrapper {
    margin: 0;
    padding: 0;
  }
}

// Sliders for image size on icons and number of columns on boards.
// Slider handles
.ui-slider {
  margin-right: 35px;

  .ui-slider-handle {
    // min-width: 3em;
    // height: 1.6em;
    // top: 50%;
    // margin-top: -.8em;
    // text-align: center;
    // line-height: 1.6em;
    width: auto;
    height: auto;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
    white-space: nowrap;
    text-align: center;
  }
}



// cleaning up the inline entity form editor
// hide the drag handle.
.field-multiple-drag {
  display: none;
}


// fix cut off handles.
a.tabledrag-handle .handle {
  height: 24px;
}

// hide the default ief form
#edit-field-icon-wrapper .tabledrag-toggle-weight-wrapper,
.ief-form-bottom legend,
#edit-field-icon-wrapper .form-item-field-icon-actions-bundle, // the content type select box
.field--name-field-image-scale input, // Image scale field slider
#edit-body-0-format, // "about text formats" under the Body field textarea
#edit-field-number-of-columns-wrapper #edit-field-number-of-columns, // number of columns field and slider
.form-item-field-icon-form-0-status-value, // published checkbox on buttons
.field--name-field-image-scale, // the image scale field (including label and slider) should be hidden if there isn't an image.
{
  display: none;
  body.admin &,
  body.role-admin & {
    display: block;
    border: 1px solid red;
  }
}

tr.ief-row-entity td {
  display: none;
  body.admin &,
  body.role-admin & {
    display: table-cell;
    border: 1px solid red;
  }
}

#edit-field-icon-wrapper thead {
  display: none;
  body.admin &,
  body.role-admin & {
    display: table-header-group;
    border: 1px solid red;
  }
}


tr.ief-row-entity td {
  &[colspan="2"],
  &[colspan="3"],
  &[colspan="4"],
  &[colspan="5"],
  &[colspan="6"],
  &[colspan="7"] {
    display: block;
  }
}

// hide admin-only fields anyway.
.field--name-field-attribution .filter-wrapper, //text format selector
.field--name-uid, // author name
.field--name-created, // publishing date
.field--name-promote, // promote to front page
.field--name-sticky, // sticky at top of lists
.field--name-path { // URL/path
  display: none;
}
// End hiding default IEF form.

// the original column of inline entity field items
#field-icon-values {
  .draggable {
    &.highlighted {
      background-color: beige;
    }
  }
}

// The draggable grid we replaced the list of IEF icon references with:
// todo: reinitialize when resizing to always have the same number of columns.
#draggable-grid {
  // overflow: hidden;
  // margin: 10px auto;
  // width: 500px;
  border: 1px solid #ccc;
  width: 100%;
  position: relative;
}

.draggable-icon {
  // @include icon_tile();
  // position: relative;
  cursor: grab;
  user-select: none;

  background-repeat: no-repeat;
  background-position: center;
  // width: 150px;
  // height: 150px;

  &:dragging {
    cursor: grabbing;
  }

  .edit,
  .remove {
    background-color: black;
    color: white;
    padding: 5px;
    opacity: 0;

    position: absolute;
    z-index: 100;
    cursor: pointer;
  }

  .edit {
    right: 0;
    top: 0;
  }

  .remove {
    left: 0;
    top: 0;
  }

  // img {
  //   object-fit: contain;
  //   max-width: 100%;
  //   max-height: 100%;
  // }

  &:focus,
  &:hover {
    .edit,
    .remove {
      opacity: 1;
    }
  }

  img {
    display: none;
  }
}

// This is to fix a bunch of window resizing nonsense bugs;
// If we rely on Gridly's defaults, the window resizer can get the wrong height.
.gridly,
.gridly > :not(.dragging) {
  transition: none !important;
}
.gridly {
  height: 600px;
}
// End grid on board edit page
////////////////////////////
// END board editing page //
////////////////////////////

///////////////////////////
// start board display page
///////////////////////////

// Start "Full screen view" button and positioning.
.page-node-type-board:not(.page-edit) {
  main .region-content {
    position: relative;
  }
}

#block-fullscreenboardbutton {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;

  // Hide the button in full screen mode,
  // but bring it back if we hover over the top right corner.
  // button,
  // .button,
  // .btn,
  // .btn-primary {
  //   top: -100px;
  // }
  //
  // &:hover {
  //   button,
  //   .button,
  //   .btn,
  //   .btn-primary {
  //     top: 0;
  //   }
  // }
}
// End "Full screen view" button & positioning.


// Start full screen mode
body.full-screen-preview {
  padding: 0 !important;
  margin: 0 !important;

  .container {
    width: 100%;
    max-width: 100%;
  }

  // Hide all the extraneous stuff when full page preview is on.
  #block-virtualplatform-page-title,
  header,
  footer,
  // div,
  nav,
  aside,
  .alert,
  #block-virtualplatform-content {
    display: none;
  }

  #block-views-block-icons-on-this-board-block-1 {
    display: block;
    max-width: 100vw;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 14px;
    margin-bottom: 14px;
    z-index: 100;
  }
}
// End full screen mode


// hide number of columns and "display in public board list" on board pages
// (we don't remove the field because we need it to calculate the board display using JavaScript)
.field--name-field-number-of-columns,
.field--name-field-public {
  display: none;
  .page-edit & {
    display: block;
  }
}

// Start icon grid on board view page (not edit!)
#block-views-block-icons-on-this-board-block-1,
.view-icons-on-this-board {
  width: 100%;
  float: left;

  .view-content {
    display: block;
    width: 100%;
    background-size: 12.5% 25%;
    background-image:
      linear-gradient(to right, grey 1px, transparent 1px),
      linear-gradient(to bottom, grey 1px, transparent 1px);
  }
  .views-row {
    @include icon-tile();

    float: left;
    width: 12.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    // We apply default background settings, because JavaScript changes the img src to background on each row.
    background-repeat: no-repeat;
    background-position: center;

    // we don't want text to overflow each icon.
    position: relative;
    .views-field-field-text-above-icon,
    .views-field-field-text-below-icon {
      width: 100%; // this is so FitText works correctly.
      max-width: 100%;
      position: absolute;
      // white-space: nowrap;
    }
    .views-field-field-text-above-icon {
      top: 2%;
    }
    .views-field-field-text-below-icon {
      bottom: 2%;
    }

    // when there's no image, we want the text blocks to just come one after another.
    &.no-image {
      .views-field-field-text-above-icon,
      .views-field-field-text-below-icon {
        position: relative;
        top: auto;
        bottom: auto;
      }
    }

    img,
    .views-field-field-image-scale,
    .views-field-title,
    .views-field-field-color {
      display: none;
    }
  }

  .views-field-field-image {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    * {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
  }
}
// end board display page

// Hide the better lookup block by default; we only want to show it.
#block-views-block-better-icon-lookup-block-1 {
  display: none;
}

.view-better-icon-lookup {
  width: 100%;
  float: left;

  .views-row {
    width: 100%;
    float: left;
  }

  .icon-and-text,
  .next-to-icon {
    float: left;
  }

  .icon-and-text {
    color: #555;
    background: #ddd;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
  }

  .views-field-nid {
    border: 1px solid red;
    display: none;
  }
}




///////////////////////////////
// Start list of icons (/icons)
///////////////////////////////
.view-icons {
  td.views-field-field-image {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;

    img {
      max-width: 100%;
    }
  }
}


// all forms
@media (min-width: 992px) {
  .node-form {
    margin-left: 0;
  }
}


// Start footer

// Right Sidebar
.region-sidebar-second {
  .block:first-child {
    h2 {
      margin-top: 0;
    }
  }
}
// End right sidebar


//////////////////
// admin features
//////////////////

// /icon page
body.path-icons {
  .views-field-field-public, // hide the "Display in the public item list" column in the view.
  .form-item-field-public-value {   // hide the view filter for "Display in the public icon list"
    display: none;
  }
  &.admin {
    .views-field-field-public {
      display: table-cell;
    }
    .form-item-field-public-value {
      display: block;
    }
  }
}
